-# %iframe{:allowfullscreen => "", :frameborder => "0", :height => "600", :src => "http://smashcords.fr", :style => "border:0", :width => "100%"}
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "680", :src => "http://smashcords.fr", :style => "border:0", :width => "100%"}
