- set_meta_tags description: 'France Smash smashcords'
%iframe{:allowfullscreen => "", :frameborder => "0", :height => "680", :src => "http://smashcords.fr", :style => "border: 0; margin: -10px -20px; margin-bottom: -20px; width: calc(100% + 40px);", :width => "100%"}
